
.has-white-color {
    color: $white;
}

.has-dark-red-color {
    color: #6A1417;
}

.has-dark-red-background-color {
    background-color: #6A1417;
}

.has-light-red-color {
    color: #E3321E;
}

.has-light-red-background-color {
    background-color: #E3321E;
}

.has-gray-color {
    color: $gray;
}

.has-gray-background-color {
    background-color: $gray;
}

.has-black-color {
    color: $black;
}

.has-black-background-color {
    background-color: $black;
}

.has-white-color {
    color: $white;
}

.has-white-background-color {
    background-color: rgba($white, 0.2);
}

p.has-background {
    padding: 1rem;
}
